/* INB Convert Rank Math FAQ to Accordion Admin Style */
.inb-rmfa-settings__wrap {
    max-width: 960px;
    margin: 20px 0;
    margin-right: 10px;
}

.inb-rmfa-settings__wrap table tbody tr:first-child th,
.inb-rmfa-settings__wrap table tbody tr:first-child td,
.inb-rmfa-settings__wrap table tbody tr:first-child h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5em;
}

.inb-rmfa-settings__wrap h3 {
    color: #00239c;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.inb-rmfa-settings__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccd0d4;
}

.inb-rmfa-settings__header h1 {
    padding: 0;
}

.inb-rmfa-settings__version {
    padding: 4px 8px;
    background: #e5e5e5;
    border-radius: 3px;
    font-size: 13px;
    color: #50575e;
}

.inb-rmfa-settings__grid {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
    margin: 20px 0;
}

.inb-rmfa-settings__main_inner .wp-picker-container .button {
    color: #32373c;
    border-color: #8c8f94;
}

.inb-rmfa-settings__sidebar_box,
.inb-rmfa-settings__main_inner {
    background: #fff;
    padding: 20px;
    border: 1px solid #c3c4c7;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.inb-rmfa-settings__main_inner {
    padding: 15px 24px 24px;
}

.inb-rmfa-settings__sidebar_box h3 {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
}

.inb-rmfa-settings__sidebar_inks-list {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style: circle;
    margin-left: 20px;
}

.inb-rmfa-settings__sidebar_inks-list li {
    margin-bottom: 10px;
}

.inb-rmfa-settings__sidebar_inks-list a {
    text-decoration: none;
    color: #e00353;
}

.inb-rmfa-settings__sidebar_inks-list a:hover {
    color: #9302cd;
    text-decoration: underline;
}

.inb-rmfa-settings__field-wrapper input[type="text"],
.inb-rmfa-settings__field-wrapper input[type="number"] {
    border: 1px solid #8c8f94;
    border-radius: 4px;
}

.inb-rmfa-settings__input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 103px;
}

.inb-rmfa-settings__form-control-select {
    width: 103px;
}

.inb-rmfa-settings__form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    border: 1px solid #8c8f94;
    border-radius: 4px 0 0 4px !important;
    border-right: none;
    margin: 0 !important;
}

.inb-rmfa-settings__input-group_text {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #444;
    text-align: center;
    white-space: nowrap;
    background-color: #f0f0f1;
    border: 1px solid #8c8f94;
    border-left: 0;
    border-radius: 0 4px 4px 0;
}

.inb-rmfa-settings__form-control:focus {
    border: 1px solid #2271b1 !important;
    border-right: 1px solid #8c8f94 !important;
    box-shadow: 0 0 0 0px #2271b1 !important;
    outline: 2px solid transparent;
    z-index: 1;
}

.inb-rmfa-settings__form-control:focus+.inb-rmfa-settings__input-group_text {
    border-color: #2271b1;
    z-index: 1;
}

.inb-rmfa-settings__reset-button--section {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #dcdcde;
}

.inb-rmfa-settings__reset-button {
    color: #fff;
    background-color: #c92e2e;
    padding: 8px;
    margin-top: 1em;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.inb-rmfa-settings__reset-button:hover {
    background-color: #8b0000;
}

@media screen and (min-width: 783px) {
    .inb-rmfa-settings__sidebar_box {
        position: sticky;
        top: 46px;
    }
}

@media screen and (max-width: 782px) {
    .inb-rmfa-settings__grid {
        grid-template-columns: 1fr;
    }

    .inb-rmfa-settings__main_inner {
        padding: 16px;
    }

    .inb-rmfa-settings__input-group,
    .inb-rmfa-settings__form-control-select {
        width: 144.86px !important;
    }
}